<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_DIR" value="${user.home}/logs" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
        ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>              
        	<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %C:%L %msg%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.tool.hbm2ddl.SchemaExport" level="FATAL"/>
    <logger name="org.dbunit" level="WARN"/>
    <logger name="org.apache" level="ERROR"/>
    <logger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="WARN"/>
    <logger name="com.payspan" level="DEBUG" />
</configuration>
